################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FigureSelector/v17/TestStore/0
/FigureSelector.Core/bin/Debug/net8.0
/FigureSelector.Core/obj
/FigureSelector.Tests/bin/Debug/net8.0
/FigureSelector.Tests/obj
/FigureSelector.UI/bin/Debug/net8.0-windows
/FigureSelector.UI/obj
/.vs/FigureSelector
